In [9]:
def add():
    a = 10
    b = 20
    sum = a + b
    print(sum)

add()

30

In [14]:
#Function to check if number is prime or not
def check_prime():
    num = 29 
    if num > 1:
        for i in range(2, int(num/2) + 1):
            if (num % i) == 0:
                print(f"{num} is not a prime number.")
                break
        else:
            print(f"{num} is a prime number.")
    else:
        print(f"{num} is not a prime number.")
check_prime()

29 is a prime number.

In [20]:
#function to reverse a string

def reverse_string():
    a = "dhruvi"  
    r_string = a[::-1]
    print(f"Reverse string is : {r_string}")
reverse_string()

Reverse string is : ivurhd

In [ ]:
#function to find maximum out of 3 numbers
def max():
    a=10
    b=20
    c=90
    if a >= b and a>=c:
        print("a is greater")
    elif b >= a and b >= c:
        print("b is greater")
    else:
        print("c is the greatest")

max()

c is the greatest

In [27]:
def add(a,b):
    result=a*b
    return result
print(add(10,20))

200

In [31]:
#object Orientied Programming
#creating a class

class student: #class is a keyword and student is class name 
    pass #placeholder keyword
obj=student()

In [36]:
class Country:
    country_name = "India"
    capital = "new delhi"
    language = "hindi"
    religion = "urdu"

# Create object *after* the class is defined:
con = Country()
print(con.country_name)

India

In [38]:
con.capital

'new delhi'

In [39]:
con.religion

'urdu'

In [ ]:
#talking about Method
class Country:
    country_name="India"
    def display(self):
        pass
    con=Country()
    #class ke andr function define - method
    #class k bar 
    #self : class ke properties ko method ke andr access krna hai

In [44]:
class Country:
    country_name="India"
    capital = "new delhi"
    language = "hindi"
    religion = "urdu"
    def display(self):
        print(self.country_name)
        print(self.capital)
    con=Country()

In [46]:
#single
class Father:
    pass
class Child(Father):
  pass

In [53]:
#single inheritance
class Father:
    Father_name = "Ayush"
    Father_age = 22

class Child(Father):
    child_name = "Ritvika"
    child_age = 10

Child_instance = Child()
print(Child_instance.Father_name)

Ayush

In [ ]:
#mutilevel  inheritance
class Grandfather:
     pass
class Father(Grandfather):
        pass
class Child(Father):
        pass

In [1]:
#HEHEHE
class Grandfather:
    grandfather_name="ram lal"
    randfather_age=40
class Father(Grandfather):
    father_name="situ lal"
    father_age=88
class Child (Father):
    child_name="chiku"
    child_age=20
 
Child=Child()
print(Child.grandfather_name)
print(Child.grandfather_name)
print(Child.father_name)
print(Child.child_name)

ram lal
ram lal
situ lal
chiku

In [2]:
#Mutiple inheritance
class Grandfather:
    grandfather_name="ram lal"
    randfather_age=40
class Father(Grandfather):
    father_name="situ lal"
    father_age=88
class Child (Father):
    child_name="chiku"
    child_age=20
 
Child=Child()
print(Child.grandfather_name)
print(Child.grandfather_name)
print(Child.father_name)
print(Child.child_name)

ram lal
ram lal
situ lal
chiku

In [3]:
class Grandfather:
    grandfather_name="ram lal"
    randfather_age=40
class Father(Grandfather):
    father_name="situ lal"
    father_age=88
class Child (Father):
    child_name="chiku"
    child_age=20
 
Child=Child()
print(Child.grandfather_name)
print(Child.grandfather_name)
print(Child.father_name)
print(Child.child_name)

ram lal
ram lal
situ lal
chiku

In [5]:
#mutiple inheritance final
# one class and mutiple parents

class Grandfather:
    pass
class Father:
    pass
class Child(Grandfather,Father):
    pass
obj=Child()
obj.grandfather_name="ram lal"

In [ ]:
#hireachicral inheritance 
# 1 parent , multiple children

In [47]:
#Task(HW) ---> super ()method check
#USE CODE
#super ka use karke parent class ke methods ya constructor ko call kar sakte ho.

class Parent:
    def show(self):
        print("parent")

class Child(Parent):
    def show(self):
        super().show() 
        print(" Child ")

obj = Child()
obj.show()

parent
 Child

In [6]:
#Encapsulation -:
#Keywords used-: Hide data , infomation save by using private , protected 

class College:
    college_name="GWECA"
    college_address="jaipur"
    _acount_no=1234
    __password="123"

clg = College()

In [7]:
clg.college_address

'jaipur'

In [8]:
clg.college_name

'GWECA'

In [16]:

#College._College__password  # ✅ This works!
clg._College__password

'123'

In [ ]:
#polymorphism -> Many forms
#single f can behave differently , like father (has many forms)

In [ ]:
#abstraction

print()

In [ ]:
#polymorphism CODE

In [26]:
#CONCEPT
#FILE HANDLING
#Constructor-:  code resuseable , 
#How to create constructor 

#class ClassName:
    #def __init__(self, parameters):
    # code to initialize object

class Country:
    def __init__(self):
        pass

person = Country()   # ✔️ Create object OUTSIDE

In [28]:
class Collage:
    def __init__(self):
        self.college_name="GWECA COLA"
        self.college_add="Jaipur rajasthan"
        self.password="Jdifhfenf@"
        self.city="AJMER"



person= Collage()

In [29]:
person.college_add

'Jaipur rajasthan'

In [30]:
person.college_name

'GWECA COLA'

In [31]:
person.password

'Jdifhfenf@'

In [41]:
class Collage:
    def __init__(self, college_name, college_add, password, city):
        self.college_name = college_name
        self.college_add = college_add
        self.password = password
        self.city = city

    
    def display(self):
        print(self.college_name)
        print(self.college_add)

    def show(self):
        print(self.password)
        print(self.city)
person = Collage("GWECA COLA", "Noida", "DJEJD", "HASANPURI")
person.display() 
person.show()

GWECA COLA
Noida
DJEJD
HASANPURI

In [33]:
person.college_add

'Noida'

In [34]:
person.college_name

'GWECA COLA'

In [43]:
class Collage:
    def __init__(self, college_name, college_add, password, city):
        self.college_name = college_name
        self.college_add = college_add
        self.password = password
        self.city = city

    
    def display(self):
       pass

    
person = Collage("GWECA COLA", "Noida", "DJEJD", "HASANPURI")
person.display()

In [45]:
print(person.password)

DJEJD

In [ ]:
#TASK -> class banani hai and uske andr  ke andr inheritance , ploly , encapsulation , method also different diff , constructor ka use krna hai 

class Animal:
    #Encapsulation performed in this
    def __init__(self, name):
        self.__name = name 

    #method
    def

In [ ]:
#FILE handling - files ko open karna, close karna , read karna , open karna
#open(), read(), write(), close()
file=open('demo.txt','r')

In [49]:
file.read()

'Hello '

In [50]:
file.close()

In [51]:
file=open('demo.txt','r')

In [52]:
file.readlines()

['Hello ']

In [54]:
#write mode
file=open('demo.txt','w')
file.write("HEy today i came late so late godamnnn")
file.close()

In [55]:
file=open('demo.txt','r')
file.read()

'HEy today i came late so late godamnnn'

In [56]:
file.close()

In [ ]:
#append mode 
file=open('demo.txt','a')
file.wr

In [57]:
#append mode - new file create ho jayegi agr pehle wali exist nhikrti ya jo search kiya hai
file=open('text.txt','a')
file.write("coongo! you created a new file")
file.close()

In [59]:
#create mode----: agr file exist krti h , toh error show kardega , jo file call kar rhe ho vo file exist ni krni chaiyee
file=open('upflairs.txt','w')

In [ ]:
#with ka use karke , file apne aap close hojati hai!!!! LOL
#FUNN FUNNN DAYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

In [ ]:
#file handling in python -: is use to handle file read , write , open

#open file
f=open('upflairs.txt','w')
f.write("Hey i write the file")
f.close()

#append mode
f=open('text.txt','a')
f.write("HI hie congo babe")
f.close()

#read mode
f=open('text.txt',r)
f.write("CONGO BABE")
f.close()

NameError: name 'r' is not defined

In [ ]:
#exception handling -: code mai runtime error ko handle ke liye errors ko handle karna
#try , passs

In [ ]:
try: #MAIN CODE
    pass
except:
    pass
else:
    pass
finally:
    pass

In [66]:
try:
    a=int(input("enter a no"))
    b=int(input("enter a no"))
    print(a/b)
except Exception as e:
    print("error is",e)
    print("Please enter valid input")

2.0

In [ ]:
try:
    a=int(input("enter a no"))
    b=int(input("enter a no"))
    print(a/b)
except Exception as e:
    print("error is",e)
    print("Please enter valid input")

In [69]:
try:
    a=int(input("Enter a number brother"))
    b=(input("Enter a number brother"))
    print(a/b)
except Exception as e:
    print("Error is- ",e)
    print("KIndly enter valid input")
else:
    print("no error hahahah ")
finally:
    print("This is finally error bhai")

Error is-  unsupported operand type(s) for /: 'int' and 'str'
KIndly enter valid input
This is finally error bhai

In [67]:
#zero division error
try:
    x=10/0
except ZeroDivisionError:
    print("NOT DIVISIBLE")

NOT DIVISIBLE